a {
  color:black;
}

#block-landportal-impact-landportal-impact  .carousel-indicators {
    position: absolute !important;
    bottom: 0px !important; /* 10px locally */
    left: 50% !important;
    z-index: 15 !important;
    width: 60% !important;
    margin-left: -30% !important;
    padding-left: 0 !important;
    list-style: none !important;
    text-align: center !important;
    top: unset;
}

#block-landportal-impact-landportal-impact .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin: 0px 3px 0px 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
}


#block-landportal-impact-landportal-impact .carousel-indicators .active {
    background-color: #fff;
}

#block-landportal-impact-landportal-impact .d-none {
    display: none;
}

#block-landportal-impact-landportal-impact h2.block-title {
  display: none;
}

.hero-title {
    padding-right:20%;
    padding-left:20%;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 40px !important;
    font-weight:700;
    color: #fff !important;
}

.hero-subtitle-1 {
    font-family:"Merriweather Sans", sans-serif;
    font-size:22px;
    font-weight:800 !important;
    margin-top:0;
    max-width: 600px;
    margin: 25px auto 0px  !important;
    padding: 10px 15px 0px !important;
    color: #000000;
    text-align: center;
}

.hero-subtitle-2 {
    margin-bottom:0;
    font-family:"Merriweather Sans", sans-serif;
    font-size:16px !important;
    font-weight: 400 !important;
    max-width: 600px;
    margin: 0px auto 80px !important;
    padding: 0px 15px 10px !important;
    color: #000000;
    text-align: center;
}

.carousel-hero-1 {
    background-image: url('../img/quote-bg1.gif') !important;
    border-radius:0px !important;
}

.carousel-hero-2 {
    background-image: url('../img/quote-bg2.gif') !important;
    border-radius:0px !important;
}

.carousel-hero-3 {
    background-image: url('../img/quote-bg3.gif') !important;
    border-radius:0px !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-title a {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    padding-bottom: 3px;
    text-decoration: none;
    color: rgb(33, 37, 41);
    font-size: 20px;
    line-height: 1.2;
}

.card-title a:hover, .card-title a:visited {
  text-decoration:none;
  color:rgb(33, 37, 41);
}

.card-text {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
}

.card-text:last-child {
    margin-bottom: 0;
}

.p-3 {
    padding: 1rem!important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.rounded {
    border-radius: .25rem !important;
}

.bg-white {
    background-color: #fff !important;
}

.border-white {
    border-color: #fff!important;
}

.filtr-item {
    padding-top: 30px !important;
}

.view-header {
    background-color:#000000;
}

#block-landportal-impact-landportal-impact .jumbotron {
   margin-bottom: 0px;	
}

.filtr-controls {
  background-color: #000000;
  color: rgb(255,255,255);
  text-align: center!important;
  font-weight: 800;
  text-transform: none;
  font-size: 16px;
  padding: 10px 0px;
}

.filtr-controls .filtr-item {
  font-family: "Merriweather Sans", sans-serif !important;
}

/* responsive images */

@media (max-width:1023px){
.picture {
  background-repeat: no-repeat;
  background-position: 45% 40%;
  width: 328px;
  height: 328px;
}
.node-type-impact-story .radix-layouts-footer h2.pane-title {
  margin: 0% !important;
}
}

@media (min-width: 1024px) and (max-width: 1200px) {
.picture {
  background-repeat: no-repeat;
  background-position: 45% 40%;
  width: 402px;
  height: 402px;
}
}


@media (min-width: 1201px) and (max-width: 1440px){
.picture {
  background-repeat: no-repeat;
  background-position: 45% 40%;
  width: 328px;
  height: 328px;
}
}

@media (min-width: 1441px) {
.picture {
  background-repeat: no-repeat;
  background-position: 45% 40%;
  width: 456px;
  height: 456px;
}
}
