.node-form .initial-fields .field-type-image {
  float: right !important;
  clear: right;
  width: 25%;
}

.node-form .initial-fields .field-name-body {
  float: left;
  width: 75%;
}

.node-form .initial-fields .group-topics-regions {
  clear: both;
}
